a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}
a:active {
  color: green;
}
 body{display:flex;  flex-direction:column;}

 main{display:flex;   flex-direction:row;}  
 aside{ flex:1;}  article{flex:3}


